body {
    background-color: black;
}

#title {
    position: absolute;
    z-index: 1000;
    color: rgb(75, 75, 75);
    background-color: rgba(40, 40, 40, .5);
    padding-top: 1vh;
    width: 100vw;
}

#title h1 {
    text-align: center;
}

#mapid {
    height: 95vh;
}

#live-btn:hover {
    cursor: pointer !important;
}

#nav-bar {
    height: 5vh;
}

#date-picker {
    width: 104px;
    margin-left: 16px;
}

#hour-select {
    width: 100px;
    padding: 4px, 4px;
    margin-top: 1px;
}