body {
    background-color: black;
}

#title {
    position: absolute;
    z-index: 1000;
    color: rgb(75, 75, 75);
    background-color: rgba(40, 40, 40, .5);
    padding-top: 1vh;
    width: 100vw;
}

#title h1 {
    text-align: center;
}

#mapid {
    height: 100vh;
}

#toggle-btn {
    position: absolute;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    z-index: 4000;
    margin-left: 75px;
    margin-top: 20px;
}

#day-picker {
    display: inline-flex;
    position: absolute;
    z-index: 4000;
    margin-top: 21px;
    margin-left: 250px;
}