body {
    background-color: black;
}

#title {
    position: absolute;
    z-index: 1000;
    color: rgb(75, 75, 75);
    background-color: rgba(40, 40, 40, .5);
    padding-top: 1vh;
    width: 100vw;
}

#title h1 {
    text-align: center;
}

#mapid {
    height: 95vh;
}

#live-btn {
    margin-left: 10px
}   

#live-btn:hover {
    cursor: pointer !important;
}

#nav-bar {
    height: 5vh;
}

#date-picker {
    width: 95px;
    margin-left: 12px;
}

#hour-select {
    width: 85px;
    padding: 4px, 4px;
}